{% load static %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<link rel="icon" sizes="192x192" href="https://firebasestorage.googleapis.com/v0/b/department-general.appspot.com/o/iTech%20academia.png?alt=media&token=37847fbc-75df-4143-a355-d713c5fd4335">
<title>iTech Academia</title>
<!-- CSS Files-->
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

<link rel="stylesheet" href="{% static 'stylesheets/skins/blue.css' %}">
<!-- skin color -->
<link rel="stylesheet" href="{% static 'stylesheets/responsive.css' %}">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="eight columns">

			<p style="font-size: 17px;">Fun Fact: This website in other languages is fun to access, Do you want to try?</p>
			
		</div>
		<div class="four columns">
			<div id="google_translate_element"></div>
		
			
		</div>
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			
			<a href="index">
				<h4><img src="https://firebasestorage.googleapis.com/v0/b/department-general.appspot.com/o/iTech%20academia.png?alt=media&token=e811a2c0-6f34-4280-8900-f8e7165e26d4" width="60" height="60" style="vertical-align: middle;"> iTech Academia</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="index">Home</a>
			</li>
			<li>
			<a href="achievements">Updates</a>
			
			</li>
			<li>
			<a href="#">Login</a>
			<ul>
				<li><a href="tdashboard">Faculty Login</a></li>
				<li><a href="slogin">Student Login</a></li>
			</ul>
			</li>
			<li>
				<a href="https://firebasestorage.googleapis.com/v0/b/department-general.appspot.com/o/iTech_Academia_help.jpg?alt=media&token=d6f50c0f-5baa-44ec-9bf4-58ec43e9ec53" target="__blank">Help</a>
			
			</li>
			
			<li>
			<a href="contact">Contact</a>
			</li>
			<li>
				
			</li>
		</ul>
		</nav>
	</div>
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader" class="blogstyle">
	<div class="row">
		<div class="eight columns">
			<p class="bread leftalign">
				 You are here: <a href="index"> Home</a> / <a href="ece_home">ECE</a> / <a href="ece_syllabus">Syllabus</a>
			</p>
		</div>
		
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<!-- SINGLE COLUMN-->
<div class="row">
	
		<h4 style="text-align: center;">Department of Electronics and Communication Engineering</h4>
		<hr>
		
			
		
			<div class="eight columns" style="margin-left: 160px; ">
				<h5 style="text-align: center;">ANNA UNIVERSITY, CHENNAI<br>
					AFFILIATED INSTITUTIONS<br>
					B.E. ELECTRONICS AND COMMUNICATION ENGINEERING<br>
					REGULATIONS – 2017<br>
					CHOICE BASED CREDIT SYSTEM</h5>
				<ul class="accordion">
					<li class="active">
					<div class="title">
						<b>Programme Outcome</b>
					</div>
					<div class="content" style="overflow: hidden; display: block; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FProgram%20Outcomes.pdf?alt=media&token=afa801ac-e6d2-43f8-9328-e41aab8e63cf">All Semester Programme Outcomes</a>
						</p>
					</div>
					</li>
					<li class="">
						<div class="title">
							<b>Subjects and Credits</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSubjects%20and%20Credits.pdf?alt=media&token=6f75d809-25d3-4fb2-906a-b9f8fe054be7">All Semester Subjects and their Credits</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 1</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%201.pdf?alt=media&token=b904f05b-985f-442d-be1e-5fcba0112b53">Semester 1 Syllabus</a>
							</p>
							</div>
							</li>
					<li class="">
					<div class="title">
						<b>Semester 2</b>
					</div>
					<div class="content" style="overflow: hidden; display: none; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%202.pdf?alt=media&token=6d9e703e-85e1-4a05-89c8-12eba3c8d86a">Semester 2 Syllabus</a>
						</p>
					</div>
					</li>
					<li class="">
					<div class="title">
						<b>Semester 3</b>
					</div>
					<div class="content" style="overflow: hidden; display: none; ">
						<p>
							<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%203.pdf?alt=media&token=3eabf5b3-957a-4191-a63e-83042b2a9797">Semester 3 Syllabus</a>
						</p>
						</div>
						</li>
					<li class="">
						<div class="title">
							<b>Semester 4</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%204.pdf?alt=media&token=cb5b2a0d-eeee-451c-925b-1763dda46312">Semester 4 Syllabus</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 5</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%205.pdf?alt=media&token=40660121-3dba-4c77-b736-011722575b2e">Semester 5 Syllabus</a><br><br>
                                <a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FProfessional%20Elective%20Semester%205.pdf?alt=media&token=048529b8-e114-473f-b983-420f74e52378">Professional Elective Semester 5</a>

							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 6</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%206.pdf?alt=media&token=10f70b4e-6cf0-46fd-8db8-369d7fb8fa82">Semester 6 Syllabus</a><br><br>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FProfessional%20Elective%20Semester%206.pdf?alt=media&token=ffd8639a-badf-4ebe-8322-97796c45f6de">Professional Elective Semester 6</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 7</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FSemester%207.pdf?alt=media&token=7f766eb9-a7cb-4a7d-89df-03b6c31429ad">Semester 7 Syllabus</a><br><br>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FProfessional%20Elective%20Semester%207.pdf?alt=media&token=ea2bff95-39be-44ea-9e6a-f58f04106aae">Professional Elective Semester 7</a>
							</p>
							</div>
							</li>
					<li class="">
						<div class="title">
							<b>Semester 8</b>
						</div>
						<div class="content" style="overflow: hidden; display: none; ">
							<p>
								<a href="https://firebasestorage.googleapis.com/v0/b/department-webapp.appspot.com/o/ECE%2Fece_syllabus%2FProfessional%20Elective%20Semester%208.pdf?alt=media&token=bfa6d3e5-b184-483a-b44f-658012d76b16">Professional Elective Semester 8</a>
							</p>
							</div>
							</li>
					</ul>
					
			
			
		
	</div>
</div>


<!-- END EXAMPLES-->
<div class="hr">
</div>

<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="eight columns">
		<h1>ABOUT US</h1>
		iTech Academia focuses on bringing together various elements into a single<br> entity offering easy access to engineering students of circuitry discipline.
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		
		<a href="https://www.linkedin.com/in/susmeta-a-30092001/" target="__blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&emsp;&ensp;
		<a href="https://github.com/susmetaa01" target="__blank"><i class="fa fa-github-square fa-2x"></i></a>&emsp;&ensp;
		<a href="https://www.linkedin.com/in/colin-rolance-304044209/" target="__blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&emsp;&ensp;
		<a href="https://github.com/linlance07" target="__blank"><i class="fa fa-github-square fa-2x"></i></a>&emsp;&ensp;

	</div>
	
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright iTech Academia</span>
		</div>
		
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="{% static 'javascripts/foundation.min.js' %}"></script>
<script src="{% static 'javascripts/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'javascripts/elasticslideshow.js' %}"></script>
<script src="{% static 'javascripts/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
<script src="{% static 'javascripts/jquery.cycle.js' %}"></script>
<script src="{% static 'javascripts/app.js' %}"></script>
<script src="{% static 'javascripts/modernizr.foundation.js' %}"></script>
<script src="{% static 'javascripts/slidepanel.js' %}"></script>
<script src="{% static 'javascripts/scrolltotop.js' %}"></script>
<script src="{% static 'javascripts/hoverIntent.js' %}"></script>
<script src="{% static 'javascripts/superfish.js' %}"></script>
<script src="{% static 'javascripts/responsivemenu.js' %}"></script>
</body>
</html>